.navbar-inverse {
    @include bg-cover;
    background-image: url('../img/bg.jpg');
    border-color: white;
    border: 0;
    margin-bottom: 0;

    .navbar-brand {
        padding: 7px 15px 0 15px;
    }

    .glyphicon, .navbar-nav li > a {
        color: white;
    }

    .btn .glyphicon {
        color: $primary;
    }
}

.navbar-brand {
    font-size: 32px;
}