.navbar-inverse {
    background-color: $primary;
    border-color: $primary;
    margin-bottom: 0;

    .navbar-brand {
        color: white;
        font-family: $font-family-title;
    }

    .glyphicon, .navbar-nav li > a {
        color: white;
    }

    .btn .glyphicon {
        color: $primary;
    }
}

.navbar-brand {
    font-size: 32px;
}