h1, h2, h3, h4, h5, h6 {
    @include font-title;
}

p, a, li, em, small, cite, ul, ol, dl, dt, dd, abbr, blockquote, address, div, span {
    @include font-body;
    color: #333;
}

p, li {
    font-size: 1.3em;
}

a {
    color: $secondary;

    &:hover {
        text-decoration: none;
    }
}

h3 {
    margin-top: 0px;
}