{% include 'header.html' %}

<div class="container container-fill-home">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="header-logotype">
                <a href="{{root}}" class="header-logotype">BengDB</a>
            </h1>

            <p class="lead">
                De Beeld en Geluid Database (BengDB) is een visueel aantrekkelijke en functioneel doorzoekbare database van de personen uit de Nederlandse televisiegeschiedenis (zowel voor als achter de schermen), gebaseerd op de GTAA-thesaurus van Beeld en Geluid, aangevuld met data uit Wikidata, Wikipedia, de Beeld en Geluid wiki en andere (open) bronnen.
            </p>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <form method="get" action="{{root}}" class="buffer-4">
                <div class="input-group input-group-lg">
                    <input type="text"
                           id="q"
                           name="q"
                           class="form-control"
                           placeholder="Doorzoek de Nederlandse televisiegeschiedenis..."
                           value="{{q}}"
                    >

                    <div class="search-clear search-clear-lg"
                          data-action="clearinput"
                          data-target="#q"
                    >
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </div>

                    <span class="input-group-btn">
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>

            {% if searchresults %}
                <p>Results for <strong>{{q}}</strong>:</p>
                <ul class="list-unstyled text-left">
                    {% for item in searchresults %}
                    <li class="buffer-bottom-1">
                        <a href="{{item.id}}">
                            <strong>{{ item.label | join(', ') }}</strong><br />
                            {{item.scopeNote | join(', ') }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                {% if isSearch %}
                    <div class="alert alert-info">
                        No items found for "<strong>{{q}}</strong>".
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

<footer class="container buffer-top-2">
    <div class="row">
        <ul class="list-inline text-center">
            <li>Ontwikkeld door <a href="http://www.twitter.com/hayify">Hay Kranen</a></li>
            <li>Alle code van dit project is beschikbaar op <a href="https://github.com/beeldengeluid/bengdb-frontend">Github</a></li>
        </ul>
    </div>
</footer>

{% include 'footer.html' %}