{% include 'header.html' %}
{% import "macros.html" as macros %}

<div class="container container-fill-home">
    <div class="row buffer-top-4">
        <div class="text-center col-md-12">
            <img src="{{root}}/img/logo.png" width="250" alt="BengDB">
        </div>

        <div class="col-md-8 col-md-offset-2 buffer-top-2 text-center">
            <p class="lead">
                Welkom bij de Beeld en Geluid Database (BengDB), een visuele encyclopedie over de personen in Nederlandse televisiegeschiedenis, samengesteld uit meerdere open(bare) bronnen.<br>Zoek op naam of selecteer een van de uitgelichte
                personen.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form method="get" action="{{root}}" class="buffer-4">
                <div class="input-group input-group-lg">
                    <input type="text"
                           id="q"
                           name="q"
                           class="form-control"
                           placeholder="Doorzoek {{itemCount | number_format}} Nederlandse televisiepersoonlijkheden..."
                           value="{{q}}"
                    >

                    <div class="search-clear search-clear-lg"
                          data-action="clearinput"
                          data-target="#q"
                    >
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </div>

                    <span class="input-group-btn">
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>

            {% if searchresults %}
                <p>Results for <strong>{{q}}</strong>:</p>
                {{macros.thumblist(searchresults, true)}}
            {% else %}
                {% if isSearch %}
                    <div class="alert alert-info">
                        No items found for "<strong>{{q}}</strong>".
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div> <!-- Search part -->

    {% if not isSearch %}
    <div class="row">
        {% if bornThisDay %}
        <div class="col-md-8 col-md-offset-2 text-center">
            <h3>Op deze dag geboren</h3>

            {{macros.thumblist(bornThisDay)}}
        </div>
        {% endif %}

        <div class="col-md-8 col-md-offset-2 text-center">
            <h3>Recent toegevoegd</h3>

            {{macros.thumblist(recentItems)}}
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-8 col-md-offset-2 buffer-4 text-center">
            <a class="btn btn-trans" href="{{root}}/about">Over de BengDB</a>
        </div>
    </div>
</div>

{% include 'footer.html' %}