<footer class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <a href="{{root}}">
                    <h2 class="header-logotype">BengDB</h2>
                </a>

                <form method="get" action="{{root}}" class="buffer-4">
                    <div class="input-group input-group-lg">
                        <input type="text" id="q" name="q" class="form-control" placeholder="Doorzoek de Nederlandse televisiegeschiedenis" value="{{q}}">

                        <span class="input-group-btn">
                            <button class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>

                <ul class="list-inline">
                    <li>Ontwikkeld door <a href="http://www.twitter.com/hayify">Hay Kranen</a></li>
                    <li>Alle code van dit project is beschikbaar op <a href="https://github.com/beeldengeluid/bengdb-frontend">Github</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>