{% import "macros.html" as macros %}
{% include 'header.html' %}
{% include 'navbar.html' %}

<div class="header-image">
    {% if item.works %}
    <div class="header-image-background"
         style="background-image:url('{{item.works[0].image.thumb}}')"
    ></div>
    {% endif %}

    <div class="container">
        <div class="row">
            {% if item.image.thumb %}
            <div class="col-md-3">
                <div class="header-image-avatar"
                     style="background-image:url('{{item.image.thumb}}')"></div>
            </div>
            {% endif %}

            <div class="col-md-9">
                <div class="header-image-text row">
                    <h1>
                        {{item.labels}}
                    </h1>

                    <p class="lead">{{item.descriptions}}</p>

                    {% if item.birthDeathDetails %}
                        <h3>{{item.birthDeathDetails}}</h3>
                    {% endif %}

                    {% if item.aliases %}
                        <p>Ook bekend als: {{ item.aliases | join(', ') }}</p>
                    {% endif %}

                    {% if linkshere %}
                        <p>
                            Bekend van:

                            {% set related = [] %}

                            {% for link in linkshere %}
                                {% set related = related | merge([link.labels]) %}
                            {% endfor %}

                            {% if related | length < 5 %}
                                {{ related | join(', ') }}
                            {% else %}
                                {{ related | slice(0, 5) | join(', ') }}
                                <a data-target="#more-related" data-toggle="collapse">meer...</a>

                                <div id="more-related" class="collapse">
                                    {{ related | slice(5) | join(', ') }}
                                </div>
                            {% endif %}
                        </p>
                    {% endif %}

                    <button class="btn btn-info" data-toggle="collapse" data-target="#detailinfo">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        Toon detailinformatie
                    </button>

                    <div id="detailinfo" class="collapse">
                        <dl class="dl-horizontal buffer-top-2">
                            <dt>Wikidata-ID</dt>
                            <dd>
                                <a href="http://www.wikidata.org/wiki/{{item.id}}">{{item.id}}</a>
                            </dd>
                        {% for claim in item.claims %}
                            <dt>
                                {{claim.property_labels}}<br>
                            </dt>

                            <dd>
                                {% for value in claim.values %}
                                    {% if value.datatype == "time" %}
                                        {{value.value_string | date("d-m-Y")}}
                                    {% elseif value.datatype in ["commonsMedia", "url"] %}
                                        <a href="{{value.value_string}}">{{value.value_string}}</a>
                                    {% else %}
                                        {{value.value_string}}
                                    {% endif %}
                                    <br>
                                {% endfor %}
                            </dd>
                        {% endfor %}
                        </dl>
                    </div>
                </div> <!-- .header-image-text -->
            </div> <!-- .col-md-9 -->
        </div> <!-- .row -->
    </div> <!-- .container -->
</div> <!-- .header-image -->

{% if bengimages %}
<article class="bg-light bg-spaced">
    <div class="container">
        <div class="row">
                <button class="btn btn-default btn-lg center-block buffer-bottom-2" data-toggle="collapse" data-target="#bengimages">
                    <!-- <span class="glyphicon glyphicon-picture"></span> -->
                    <img src="{{bengimages[0].thumb}}" width="100">
                    Gerelateerde foto's
                </button>

                <div id="bengimages" class="collapse">
                    <div class="text-center">
                        <p class="lead">Dit is een selectie van foto's gerelateerd aan <b>{{item.labels}}</b> uit de collectie van Beeld en Geluid.</p>
                    </div>

                    {% for img in bengimages %}
                        <div class="col-md-3">
                            <a href="{{img.image}}"
                               class="thumbnail thumbnail-bg img-zoomable"
                               style="background-image:url('{{img.thumb}}')"
                               title="{{img.label}}"
                            >
                                <h4 class="thumbnail-label">{{img.label}}</h4>
                            </a>
                        </div>
                    {% endfor %}
                </div>
        </div>
    </div>
</article>
{% endif %}

{% include 'wikipedia-article.html' %}
{% include 'navbar-footer.html' %}
{% include 'footer.html' %}