{% import "macros.html" as macros %}
{% include 'header.html' %}
{% include 'navbar.html' %}

<div class="header-image">
    {% if item.works %}
    <div class="header-image-background"
         style="background-image:url('{{item.works[0].image.thumb}}')"
    ></div>
    {% endif %}

    <div class="container">
        <div class="row">
            {% if item.image.thumb %}
            <div class="col-md-3">
                <div class="header-image-avatar"
                     style="background-image:url('{{item.image.thumb}}')"></div>
            </div>
            {% endif %}

            <div class="col-md-9">
                <div class="header-image-text">
                    <h1>{{item.labels}}</h1>

                    <h3 class="text-muted">
                        {% if item.dateOfBirth %}
                            Geboren
                            {% for d in item.dateOfBirth %}
                                {{ [d.day, d.month, d.year] | join('-') }}
                            {% endfor %}
                        {% endif %}

                        {% if item.placeOfBirth %}
                            {% if item.dateOfBirth %}
                                te
                            {% endif %}

                            {{item.placeOfBirth[0].label}}
                        {% endif %}

                        {% if item.dateOfDeath %}
                            {% if item.dateOfBirth %}
                                , gestorven
                            {% else %}
                                Gestorven
                            {% endif %}

                            {% for d in item.dateOfDeath %}
                                {{ [d.day, d.month, d.year] | join('-') }}
                            {% endfor %}

                            {% if item.causeOfDeath %}
                            (door {{item.causeOfDeath[0].label}})
                            {% endif %}
                        {% endif %}

                        {% if item.placeOfDeath %}
                            {% if item.dateOfDeath %}
                                te
                            {% endif %}

                            {{item.placeOfDeath[0].label}}
                        {% endif %}
                    </h3>

                    <p class="lead">{{item.descriptions}}</p>

                    {% if item.occupation %}
                        <h4>Rollen</h4>
                        <ul class="list-inline">
                        {% for item in item.occupation %}
                        <li>{{item.label}}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}

                    {% if item.employer %}
                        <h4>Werkgevers</h4>
                        <ul class="list-inline">
                            {% for item in item.employer %}
                            <li>{{item.label}}</li>
                            {% endfor %}
                            </ul>
                        </ul>
                    {% endif %}

                    {{ macros.itemprop("Kind(eren)", item.child) }}
                    {{ macros.itemprop("Partner(s)", item.spouse) }}

                    {% if item.aliases %}
                        <h4>Ook bekend als:</h4>
                        <p>{{ item.aliases | join(', ') }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{# So why has Mies Bouwman written the Koran? Weird stuf...
    {% if item.works %}
    <div class="bg-light bg-spaced media-grid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">Werken door of met {{item.labels}}</h2>

                    {% for work in item.works %}
                    <a class="col-md-3" href="{{work.id}}">
                        <span class="media-grid-thumb" style="background-image:url('{{work.image.thumb}}')"></span>

                        <h3>
                            {{work.labels}}
                            {{work.year}}
                        </h3>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
#}

{% include 'wikipedia-article.html' %}
{% include 'navbar-footer.html' %}
{% include 'footer.html' %}