<article class="wikipedia-article bg-light bg-spaced">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% autoescape false %}
                    {% if (not bengwikitext and article.text) %}
                        {{article.text}}
                        {% include 'wikipedia-credits.html' %}
                    {% elseif (bengwikitext and not article.text) %}
                        {{bengwikitext}}
                        {% include 'bengwiki-credits.html' %}
                    {% elseif bengwikitext and article.text %}
                        <div role="tabpanel">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active">
                                    <a href="#tab-wikipedia" data-toggle="tab" role="tab">Wikipedia</a>
                                </li>
                                <li>
                                    <a href="#tab-bengwiki" data-toggle="tab" role="tab">Beeld en Geluid wiki</a>
                                </li>
                            </ul>

                            <div class="tab-content buffer-top-2">
                                <div role="tabpanel" class="tab-pane active" id="tab-wikipedia">
                                    {{article.text}}
                                    {% include 'wikipedia-credits.html' %}
                                </div>

                                <div role="tabpanel" class="tab-pane" id="tab-bengwiki">
                                    {{bengwikitext}}
                                    {% include 'bengwiki-credits.html' %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endautoescape %}
            </div>

            <div class="col-md-4">
                {% for image in article.images %}
                    <a href="{{image.url}}" class="img-zoomable" title='Full source information about this image is available at <a href="{{image.descriptionurl}}">Wikimedia Commons</a>'>
                        <img src="{{image.thumb}}"
                             class="img-thumbnail buffer-bottom-1"
                        >
                    </a>
                {% endfor %}
            </div>
        </div>

        {% if item.enriched and itemType == "gtaa" %}
        <div class="row">
            <div class="col-md-12">
                {% if article.related %}
                    <h3>Gerelateerd aan {{item.labels}}</h3>
                    {{macros.thumblist(article.related | slice(0, 4), true)}}
                {% else %}
                    <h3>Meer personen uit de BengDB</h3>
                    {{macros.thumblist(randomItems, true)}}
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</article>